@media screen and (max-width: 837px) {
    .section1-box{
        grid-template-columns: repeat(2,1fr);
        margin-bottom: 28%;
    }
     .section-2-box{
        grid-template-columns: repeat(2,1fr);
        grid-row-gap: 0%;
        grid-column-gap: 17%;
        margin-bottom: 10px;
    }
    /*.s2-inner{
        margin-bottom: 10%;
    }
    .section1-box{
        margin-bottom: 15%;
    }
    .section2 button{
        margin-top: 0;
    }
    /* .section3{
        grid-template-columns: repeat(1,1fr);
    }
    .section-4-box{
        grid-template-columns: repeat(1,1fr);
    } */
    
}
 @media screen and (max-width: 710px) {
     .section1 button{
        margin-top: 7%;
    } 
    .first-box{
        grid-template-columns: repeat(2,1fr);
    }
    .section3,.section-4-box,.s5-box{
        grid-template-columns: repeat(1,1fr);
    }
    
    .second-box{
        grid-template-columns: repeat(2,1fr);
    }

}
@media screen and (max-width: 620px) {
    .section1-box,.section-2-box{
        grid-template-columns: repeat(1,1fr);
        gap: 2%;
    }
    /* .section-2-box{
        gap: 2%;
    } */
    .section2 button{
        margin-top: 40%;
    }
    .s2-inner{
        margin-bottom: 0%;
    }
    .s4 h1{
        font-size: 27px;
    }
    .section3 .s4-box1 .s4 h1{
        font-size: 35px;
    }
    .section3 .s4-box1 .s4 span{
        font-size: 35px;
    }
}