@media screen and (max-width: 1200px) {
    .landing-section>#myVideo {
        height: 100%;
        width: unset;
    }
}

@media screen and (max-width: 960px) {
    .page h1 {
        font-size: 35px;
    }

    .page h2 {
        font-size: 15px;
    }

    .vedio-container {
        grid-template-columns: 52% 1fr;
        grid-gap: 3%;
    }
}

@media screen and (max-width: 837px) {
    .section1-box {
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 28%;
    }

    .section-2-box {
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 0%;
        grid-column-gap: 17%;
        margin-bottom: 10px;
    }

    /*.s2-inner{
        margin-bottom: 10%;
    }
    .section1-box{
        margin-bottom: 15%;
    }
    .section2 button{
        margin-top: 0;
    }
    /* .section3{
        grid-template-columns: repeat(1,1fr);
    }
    .section-4-box{
        grid-template-columns: repeat(1,1fr);
    } */

}

@media screen and (max-width: 710px) {
    .section1 button {
        margin-top: 7%;
    }

    .first-box {
        grid-template-columns: repeat(2, 1fr);
    }

    .section3,
    .section-4-box,
    .s5-box {
        grid-template-columns: repeat(1, 1fr);
    }

    .second-box {
        grid-template-columns: repeat(2, 1fr);
    }

    .page h1 {
        font-size: 30px;
    }

    .nav {
        display: none;
        transition: all 1.7s ease-out;
    }

    .menu {
        display: block;
    }

    .run {
        display: block;
    }
    .not{
        display: block;
        position: absolute;
        right: 4%;
    }
    .menu-hidden{
        display: none;
    }
    .run ul{
        width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: black;
    top: 0;
    left: 0;
    transition: all 5.7s ease-out;
    }
    .run ul li{
        margin-bottom: 4%;
    }
}

@media only screen and (max-width: 620px) {
    .vedio-container {
        grid-template-columns: 1fr;
        grid-gap: 0%;
        /* margin: 10px 0; */
    }

    .section1-box,
    .section-2-box {
        grid-template-columns: repeat(1, 1fr);
        gap: 2%;
    }

    /* .section-2-box{
        gap: 2%;
    } */
    .section2 button {
        margin-top: 40%;
    }

    .s2-inner {
        margin-bottom: 0%;
    }

    .s4 h1 {
        font-size: 27px;
    }

    .section3 .s4-box1 .s4 h1 {
        font-size: 35px;
    }

    .section3 .s4-box1 .s4 span {
        font-size: 35px;
    }

    .page p {
        margin: 1% 0;
    }

    .page h1 {
        font-size: 25px;
    }

    .container {
        padding: 5% 8%;
    }

    .colum {
        grid-template-columns: repeat(1, 1fr);
    }

    .form h2 {
        font-size: 30px;
    }

}

@media screen and (max-width: 505px) {

    .section2 button,
    .section1 button {
        margin-top: 50px;
    }

    .section-2-box {
        margin-bottom: 145px;
    }

    .section1-box {
        margin-bottom: 125px;
    }

    .first-box {
        grid-template-columns: repeat(1, 1fr);

    }

    .border {
        border: none;
    }

    .cheack p {
        font-size: 12px;
    }

    .end {
        grid-template-columns: repeat(1, 1fr);
    }

}

@media screen and (max-width: 420px) {
    .form h2 {
        font-size: 20px;
    }
}